interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webapi.bps.go.id/v1/api/list/model/statictable/lang/ind/?key=TEST_KEY&id_variabel=528&id_wilayah=0000
  response:
    body:
      string: >-
        {"status":"OK","data":{
          "table_id":"528","title":"Persentase Penduduk Miskin (Persen)",
          "note":"Sumber: Survei Sosial Ekonomi Nasional (Susenas)",
          "updt_date":"2024-01-15",
          "size":20,
          "datacontent":{
            "2019": "9.22",
            "2020": "10.19",
            "2021": "9.71",
            "2022": "9.36",
            "2023": "9.03"
          }
        }}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
