interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ojk.go.id/v1/lembaga/pencarian?keyword=Akulaku&limit=1
  response:
    body:
      string: |
        {
          "data": [
            {
              "nama": "PT AKULAKU FINANCE INDONESIA",
              "no_izin": "KEP-249/NB.11/2018",
              "jenis": "Perusahaan Pembiayaan / Fintech P2P",
              "status": "Aktif",
              "produk": ["Kredit Multiguna", "Pembiayaan Multiguna"],
              "kota": "Jakarta Selatan",
              "website": "https://www.akulaku.com"
            }
          ],
          "total": 1
        }
    headers:
      Content-Type: ['application/json; charset=utf-8']
    status:
      code: 200
      message: OK
version: 1
