interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.ojk.go.id/v1/lembaga/pencarian?keyword=LEMBAGA+TIDAK+ADA&limit=1
  response:
    body:
      string: '{"data": [], "total": 0}'
    headers:
      Content-Type: ['application/json; charset=utf-8']
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.ojk.go.id/id/kanal/perbankan/data-dan-statistik/Pages/Direktori.aspx?SearchText=LEMBAGA+TIDAK+ADA
  response:
    body:
      string: '<html><body><div class="container"><p>Data tidak ditemukan.</p></div></body></html>'
    headers:
      Content-Type: ['text/html; charset=utf-8']
    status:
      code: 200
      message: OK
version: 1
