interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://investor.ojk.go.id/InvestorAlert/getList?keyword=Untung+Berlipat&draw=1&start=0&length=10
  response:
    body:
      string: |
        {
          "data": [
            {
              "nama": "PT UNTUNG BERLIPAT INVESTASI",
              "jenis": "Investasi Ilegal",
              "status": "Dibekukan",
              "kota": "Jakarta",
              "keterangan": "Entitas tanpa izin OJK menawarkan investasi dengan imbal hasil tidak wajar"
            }
          ],
          "recordsTotal": 1,
          "recordsFiltered": 1
        }
    headers:
      Content-Type: ['application/json; charset=utf-8']
    status:
      code: 200
      message: OK
version: 1
