interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.lkpp.go.id/eproc4/dt/rekanan?term=PT+Telkom&draw=1&start=0&length=10
  response:
    body:
      string: >-
        {"draw":1,"recordsTotal":1,"recordsFiltered":1,"data":[
          {"kodeRekanan":"R-TELKOM-001","namaRekanan":"PT TELEKOMUNIKASI INDONESIA (PERSERO) TBK",
           "npwp":"01.000.051.0-051.000","alamat":"Jl. Japati No.1","kota":"Bandung",
           "provinsi":"Jawa Barat","telepon":"022-4521 108","email":"procurement@telkom.co.id",
           "statusAktif":true,"jenisUsaha":"Badan Usaha Milik Negara","kualifikasi":"Besar",
           "bidangUsaha":"Telekomunikasi"}
        ]}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.pu.go.id/eproc4/dt/rekanan?term=PT+Telkom&draw=1&start=0&length=10
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
    status:
      code: 503
      message: Service Unavailable
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kominfo.go.id/eproc4/dt/rekanan?term=PT+Telkom&draw=1&start=0&length=10
  response:
    body:
      string: >-
        {"draw":1,"recordsTotal":1,"recordsFiltered":1,"data":[
          {"kodeRekanan":"R-TELKOM-001","namaRekanan":"PT TELEKOMUNIKASI INDONESIA (PERSERO) TBK",
           "npwp":"01.000.051.0-051.000","alamat":"Jl. Japati No.1","kota":"Bandung",
           "provinsi":"Jawa Barat","telepon":"022-4521 108","email":"procurement@telkom.co.id",
           "statusAktif":true,"jenisUsaha":"Badan Usaha Milik Negara","kualifikasi":"Besar",
           "bidangUsaha":"Telekomunikasi"}
        ]}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkeu.go.id/eproc4/dt/rekanan?term=PT+Telkom&draw=1&start=0&length=10
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/html
    status:
      code: 503
      message: Service Unavailable
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkes.go.id/eproc4/dt/rekanan?term=PT+Telkom&draw=1&start=0&length=10
  response:
    body:
      string: >-
        {"draw":1,"recordsTotal":1,"recordsFiltered":1,"data":[
          {"kodeRekanan":"R-TELKOM-001","namaRekanan":"PT TELEKOMUNIKASI INDONESIA (PERSERO) TBK",
           "npwp":"01.000.051.0-051.000","alamat":"Jl. Japati No.1","kota":"Bandung",
           "provinsi":"Jawa Barat","telepon":"022-4521 108","email":"procurement@telkom.co.id",
           "statusAktif":true,"jenisUsaha":"Badan Usaha Milik Negara","kualifikasi":"Besar",
           "bidangUsaha":"Telekomunikasi"}
        ]}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
