interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.lkpp.go.id/eproc4/dt/tender?term=pengadaan+server&draw=1&start=0&length=10
  response:
    body:
      string: >-
        {"draw":1,"recordsTotal":2,"recordsFiltered":2,"data":[
          {"kode":"T-2024-001","namaPaket":"Pengadaan Server dan Infrastruktur Jaringan",
           "namaSatker":"Pusat Data dan Informasi","kodeSatker":"SDI-001",
           "tahapTender":"Pemasukan Penawaran","metodePengadaan":"Tender",
           "nilaiPagu":5000000000,"nilaiHPS":4800000000,
           "tanggalPembuatan":"2024-01-10","tanggalTutup":"2024-02-15",
           "statusTender":"Aktif","sumberDana":"APBN",
           "linkLelang":"https://lpse.lkpp.go.id/eproc4/tender/T-2024-001/view"},
          {"kode":"T-2024-002","namaPaket":"Pengadaan Server Backup Data Center",
           "namaSatker":"Biro Teknologi Informasi","kodeSatker":"BTI-002",
           "tahapTender":"Evaluasi Penawaran","metodePengadaan":"Tender Cepat",
           "nilaiPagu":2500000000,"nilaiHPS":2400000000,
           "tanggalPembuatan":"2024-01-20","tanggalTutup":"2024-02-20",
           "statusTender":"Aktif","sumberDana":"APBN",
           "linkLelang":"https://lpse.lkpp.go.id/eproc4/tender/T-2024-002/view"}
        ]}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.pu.go.id/eproc4/dt/tender?term=pengadaan+server&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kominfo.go.id/eproc4/dt/tender?term=pengadaan+server&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkeu.go.id/eproc4/dt/tender?term=pengadaan+server&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkes.go.id/eproc4/dt/tender?term=pengadaan+server&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
