interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.lkpp.go.id/eproc4/dt/rekanan?term=PERUSAHAAN+TIDAK+ADA&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.pu.go.id/eproc4/dt/rekanan?term=PERUSAHAAN+TIDAK+ADA&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kominfo.go.id/eproc4/dt/rekanan?term=PERUSAHAAN+TIDAK+ADA&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkeu.go.id/eproc4/dt/rekanan?term=PERUSAHAAN+TIDAK+ADA&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://lpse.kemenkes.go.id/eproc4/dt/rekanan?term=PERUSAHAAN+TIDAK+ADA&draw=1&start=0&length=10
  response:
    body:
      string: '{"draw":1,"recordsTotal":0,"recordsFiltered":0,"data":[]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
