interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.bmkg.go.id/DataMKG/TEWS/gempaterkini.json
  response:
    body:
      string: >-
        {"Infogempa":{"gempa":[
          {"Tanggal":"13 Mar 2026","Jam":"06:15:42 WIB","DateTime":"2026-03-12T23:15:42+00:00",
           "Coordinates":"-2.45,128.73","Lintang":"2.45 LS","Bujur":"128.73 BT",
           "Magnitude":"5.2","Kedalaman":"10 km",
           "Wilayah":"Pusat gempa berada di darat 23 km Barat Laut Ternate, Maluku Utara",
           "Potensi":"Gempa ini dirasakan untuk diwaspadai","Dirasakan":"III Ternate",
           "Shakemap":"20260313061542.mmi.jpg"},
          {"Tanggal":"12 Mar 2026","Jam":"14:23:11 WIB","DateTime":"2026-03-12T07:23:11+00:00",
           "Coordinates":"-8.12,115.43","Lintang":"8.12 LS","Bujur":"115.43 BT",
           "Magnitude":"4.8","Kedalaman":"15 km",
           "Wilayah":"Pusat gempa berada di laut 12 km Selatan Denpasar, Bali",
           "Potensi":"Tidak berpotensi tsunami","Dirasakan":"II-III Denpasar",
           "Shakemap":"20260312142311.mmi.jpg"},
          {"Tanggal":"11 Mar 2026","Jam":"03:44:59 WIB","DateTime":"2026-03-10T20:44:59+00:00",
           "Coordinates":"-0.87,133.91","Lintang":"0.87 LS","Bujur":"133.91 BT",
           "Magnitude":"6.1","Kedalaman":"35 km",
           "Wilayah":"Pusat gempa berada di laut 45 km Barat Laut Manokwari, Papua Barat",
           "Potensi":"Tidak berpotensi tsunami","Dirasakan":"IV Manokwari",
           "Shakemap":"20260311034459.mmi.jpg"}
        ]}}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
