interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://data.bmkg.go.id/DataMKG/TEWS/autogempa.json
  response:
    body:
      string: >-
        {"Infogempa":{"gempa":{
          "Tanggal":"13 Mar 2026",
          "Jam":"06:15:42 WIB",
          "DateTime":"2026-03-12T23:15:42+00:00",
          "Coordinates":"-2.45,128.73",
          "Lintang":"2.45 LS",
          "Bujur":"128.73 BT",
          "Magnitude":"5.2",
          "Kedalaman":"10 km",
          "Wilayah":"Pusat gempa berada di darat 23 km Barat Laut Ternate, Maluku Utara",
          "Potensi":"Gempa ini dirasakan untuk diwaspadai",
          "Dirasakan":"III Ternate",
          "Shakemap":"20260313061542.mmi.jpg"
        }}}
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
