interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://infopemilu.kpu.go.id/Pemilu/Peserta_pemilu?nama=Budi+Santoso&limit=1
  response:
    body:
      string: |
        {
          "data": [
            {
              "id": "1100012024001",
              "nama": "BUDI SANTOSO",
              "partai": "PDIP",
              "no_partai": 3,
              "jenis_pemilu": "dpr",
              "dapil": "JAWA TIMUR I",
              "jabatan": "Anggota DPR RI",
              "jenis_kelamin": "L",
              "suara_sah": 45230,
              "terpilih": true,
              "foto": "https://infopemilu.kpu.go.id/foto/caleg/12345.jpg"
            }
          ],
          "total": 1
        }
    headers:
      Content-Type: ['application/json; charset=utf-8']
    status:
      code: 200
      message: OK
version: 1
